
// Tipografia
$fuente_principal: 'Motserrat' , sans-serif;



// Colores
$verde: #4CB8B3; 
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000;
$blanco: #FFF;

// Tamaño de los Media Queris


$movil: 762px;
$tablet: 762px;
$desktop: 992px;


